Hi {{ name }},

This is a reminder about your interview {{ time_label }}:

  Role: {{ job_title }}
  When: {{ when }}
  Duration: {{ duration_minutes }} minutes
  Meeting link: {{ meeting_link or 'will be shared by the recruiter' }}

{{ cta }}
