Hi {{ name }},

We received a request to reset your SipSetu password. Your verification code is:

{{ otp }}

This code expires in 10 minutes. Enter it on the password reset page to set a new password.

If you didn't request this, you can safely ignore this email.
