Hi {{ name }},

Thanks for creating your SipSetu account! Your email verification code is:

{{ otp }}

This code expires in 10 minutes. Enter it on the verification page to confirm your email address.

If you didn't create this account, you can safely ignore this email.
